.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 992px) {
  .about-center {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    column-gap: 4rem;
  }

  .about-img,
  .about-img-svg {
    grid-column: 1 / span 5;
    margin-bottom: 0;
  }

  .about-text {
    grid-column: 6 / -1;
  }
}

/* ### Media Querry  */

.images-copy {
  display: flex;
  justify-content: center;
  gap: 25px;
}

@media screen and (max-width: 622px) {
  .images-copy {
    display: grid;
  }
}

.level_2 {
  display: flex;
  margin: auto;
  gap: 30px;
}

@media screen and (max-width: 800px) {
  .level_2 {
    display: grid;
  }

  .img_Collection {
    height: 220px !important;
  }


}

.image-collection {
  display: flex;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}

.collection-images {
  width: 100px;
}

@media screen and (max-width: 800px) {
  .image-collection {
    display: grid;
  }

  .collection-images {
    width: 150px;
  }




}

@media screen and (min-width: 400px) {
  .video-container {
    height: 150px;
  }
}

@media screen and (min-width: 600px) {
  .video-container {
    height: 200px;
  }
}

@media screen and (min-width: 800px) {
  .video-container {
    height: 300px;
  }
}

@media screen and (max-width: 440px) {
  .navbar {
    display: none !important;
  }
}

.offcanvas {
  width: 60% !important;
}

@media screen and (min-width: 440px) {
  .offcanvas-container {
    display: none !important;
    background-color: black !important;
  }
}

.offcanvas-container {
  padding: 10px;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}