/* Home.css */

.hero {
    background-color: #f8f9fa;
    padding: 80px 20px;
    text-align: center;
    color: #343a40;
  }
  
  .content {
    /* max-width: 800px; */
    margin: 30px 15px;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .content h2 {
    color: #007bff;
  }
  
  .content ul {
    list-style-type: none;
    padding: 0;
  }
  
  .content li {
    margin-bottom: 10px;
  }
  
  .content a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  